.terms_area{
    overflow: hidden;
    font-family: $font-family;
    background: #fefcf7;
    padding-bottom: 60px;
    .terms_contains{
        border-radius: 10px;
        box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.8);
        background: #fefcf7;
        padding: 71px 76px 91px 76px;
        @media (max-width: 767px){
            padding: 20px;
        }
        @media (max-width: 998px){
            padding: 40px;
        }
        @media (max-width: 1024px){
            padding: 40px;
        }
    }
    .description_terms{
        p{
            font-family: $font-family;
            font-weight: 600;
            font-size: 16px;
            color: #000;
             @media (max-width: 767px){
           font-size: 14px;
        }
        }
    }
    h4{
        font-weight: 700;
        font-size: 36px;
        margin-top: 30px;
        @media (max-width: 998px){
            font-size: 30px;
            margin-top: 15px;
        }
        @include sm{
           font-size: 22px;
           margin-top: 15px;
        }
        color: #000;
    }
    h5{
        font-weight: 700;
        font-size: 26px;
         @media (max-width: 767px){
            font-size: 18px;
        }
        color: #000;
    }
    a{
        font-weight: 400;
        font-size: 16px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        color: #000;
        &:hover{
            color:  #feb81c;
        }
    }
    .terms_content_list{
        .terms_list{
            margin-top: 20px;
             @media (max-width: 767px){
            margin-top: 10px;
        }
            p{
                font-weight: 400;
            font-size: 16px;
             @media (max-width: 767px){
            font-size: 14px;
        }
            line-height: 20px;
            color: #000;
            strong{
                font-weight: 700;
            }
            }
            &.style_1{
                ul{
                    padding: 0 !important;
                    li{
                        list-style-type: none !important;
                    }
                }
            }
        }
    }
    ul{
        padding: 0px 0px 0px 25px;
        li{
            list-style-type: disc !important;
            font-weight: 400;
            font-size: 16px;
             @media (max-width: 767px){
            font-size: 14px;
        }
            color: #000;
            strong{
                font-weight: 700;
            }
        }
    }
}